@font-face {
    font-family: 'Party Confetti';
    src: url(party-confetti-font/PartyConfettiRegular-eZOn3.ttf);
}

* {
    font-family: 'Party Confetti', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #cec2ff; /* Periwinkle */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#instructions {
    font-size: 20px;
    margin-top: 25px;
    max-width: 60%;
    text-align: center;
}

button {
    background-color: #540d6e;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    height: 40px;
    margin: 25px 0;
    width: 75px;
} 

#grid-container {
    align-content: center;
    background-color: #fff;
    border: 35px solid #0ead69; /* Palatinate Blue */
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    justify-content: center;
    margin-bottom: 15px;
    width: 90vh;
}

.square {
    border: none;
    box-sizing: border-box;
}